EnergyCalcSol/EnergyCalc/bin/**
EnergyCalcSolEnergyCalc/obj/**
EnergyCalcSol/packages/**
EnergyCalcSolXCtrl/bin/**
EnergyCalcSol/XCtrl/obj/**
EnergyCalcSol/.vs/**
EnergyCalcSol/Image/**
EnergyCalcSol/Installer/**
EnergyCalcSol/XControl/bin/**
EnergyCalcSol/XControl/obj/**
EnergyCalcSol/KnaufInsalutionCalc/**
EnergyCalcSol/KnaufInsalutionCalc/**
EnergyCalcSolKnaufinsulationWalls/**
EnergyCalcSol/KnaufinsulationWalls/**
EnergyCalcSol/other_files/**
EnergyCalcSol/test/**