EnergyCalcSol/EnergyCalc/bin/**
EnergyCalcSolEnergyCalc/obj/**
EnergyCalcSol/packages/**
EnergyCalcSolXCtrl/bin/**
EnergyCalcSol/XCtrl/obj/**
EnergyCalcSol/.vs/**
EnergyCalcSol/Docs/**
EnergyCalcSol/Installer/**
EnergyCalcSol/XControl/bin/**
EnergyCalcSol/XControl/obj/**
EnergyCalcSol/KnaufInsalutionCalc/**
EnergyCalcSol/KnaufInsalutionCalc/**
EnergyCalcSolKnaufinsulationWalls/bin/**
EnergyCalcSol/KnaufinsulationWalls/obj/**
EnergyCalcSol/other_files/**
EnergyCalcSol/test/**
EnergyCalcSol/KnaufinsulationWalls/bin/Debug/data/docs/**
EnergyCalcSol/KnaufinsulationWalls/bin/Release/PdfSharp.xml
EnergyCalcSol/KnaufinsulationWalls/bin/Release/KnaufinsulationWalls.exe.config
EnergyCalcSol/KnaufinsulationWalls/bin/Release/INIFileParser.xml
