EnergyCalcSol/EnergyCalc/bin/**
EnergyCalcSolEnergyCalc/obj/**
EnergyCalcSol/packages/**
EnergyCalcSolXCtrl/bin/**
EnergyCalcSol/XCtrl/obj/**
EnergyCalcSol/.vs/**
EnergyCalcSol/Docs/**
EnergyCalcSol/XControl/bin/**
EnergyCalcSol/XControl/obj/**
EnergyCalcSol/KnaufInsalutionCalc/**
EnergyCalcSol/KnaufInsalutionCalc/**
EnergyCalcSolKnaufinsulationWalls/bin/**
EnergyCalcSol/KnaufinsulationWalls/obj/**
EnergyCalcSol/other_files/**
EnergyCalcSol/test/**
EnergyCalcSol/KnaufinsulationWalls/bin/Debug/data/docs/**
EnergyCalcSol/KnaufinsulationWalls/bin/Release/PdfSharp.xml
EnergyCalcSol/KnaufinsulationWalls/bin/Release/KnaufinsulationWalls.exe.config
EnergyCalcSol/KnaufinsulationWalls/bin/Release/INIFileParser.xml
EnergyCalcSol/KnaufinsulationWalls/bin/Release/data/docs/F9.zip
EnergyCalcSol/KnaufinsulationWalls/bin/Release/data/docs/F8.zip
EnergyCalcSol/KnaufinsulationWalls/bin/Release/data/docs/F6_7.zip
EnergyCalcSol/KnaufinsulationWalls/bin/Release/data/docs/F5.zip
EnergyCalcSol/KnaufinsulationWalls/bin/Release/data/docs/F3_4.zip
EnergyCalcSol/KnaufinsulationWalls/bin/Release/data/docs/F31.zip
EnergyCalcSol/KnaufinsulationWalls/bin/Release/data/docs/F28_29_30.zip
EnergyCalcSol/KnaufinsulationWalls/bin/Release/data/docs/F27.zip
EnergyCalcSol/KnaufinsulationWalls/bin/Release/data/docs/F24_25_26.zip
EnergyCalcSol/KnaufinsulationWalls/bin/Release/data/docs/F21.zip
EnergyCalcSol/KnaufinsulationWalls/bin/Release/data/docs/F20.zip
EnergyCalcSol/KnaufinsulationWalls/bin/Release/data/docs/F1_2.zip
EnergyCalcSol/KnaufinsulationWalls/bin/Release/data/docs/F19.zip
EnergyCalcSol/KnaufinsulationWalls/bin/Release/data/docs/F18.zip
EnergyCalcSol/KnaufinsulationWalls/bin/Release/data/docs/F17.zip
EnergyCalcSol/KnaufinsulationWalls/bin/Release/data/docs/F16.zip
EnergyCalcSol/KnaufinsulationWalls/bin/Release/data/docs/F13_14_15.zip
EnergyCalcSol/KnaufinsulationWalls/bin/Release/data/docs/F11_12.zip
EnergyCalcSol/KnaufinsulationWalls/bin/Release/data/docs/F10.zip
EnergyCalcSol/KnaufinsulationWalls/bin/Release/data/docs/F1(5).zip
EnergyCalcSol/KnaufinsulationWalls/bin/Release/data/docs/F1(3,4).zip
EnergyCalcSol/KnaufinsulationWalls/bin/Release/data/docs/F1(1,2,6,7).zip
*.zip
EnergyCalcSol/Installer/KnaufinsulationWalls1-SetupFiles/Version.xml
EnergyCalcSol/Installer/KnaufinsulationWalls1-cache/part2/output-info.ini
EnergyCalcSol/Installer/KnaufinsulationWalls1-cache/part2/disk1.cab
EnergyCalcSol/Installer/KnaufinsulationWalls1-cache/cacheIndex.txt
